<div ng-if="data && validation_rule_definitions && path" ng-repeat="field in object_type.fields">

	<div ng-switch on="field.data_type.object_type">
		<!--string-->
		<div class="animate-switch" ng-switch-when="16b8aa98-d9df-4899-84f0-d31652487abe">
			<div ng-if="field.data_type.multiplicity=='many'" class="form-group">
				<label>{{field.display_name}}</label>
				<input ng-model = "data[field.name]" class="form-control" type = "text" ng-list placeholder="{{field.description}}"/>
			</div>
			<div ng-if="field.data_type.multiplicity=='one' && field.source && field.source.length > 0" class="form-group">
				<label>{{field.display_name}}</label>
				<select class="form-control" ng-model="data[field.name]" ng-options="item.key as item.display_name for item in field.source"></select>
			</div>
			<!--
			<div ng-if="field.data_type.multiplicity=='one' && (!field.source || field.source.length == 0)" class="form-group">
				<label>{{field.display_name}}</label>
				<input ng-model = "data[field.name]" class="form-control" type = "text" placeholder="{{field.description}}"/>
			</div>
			-->
			
			<div ng-if="field.data_type.multiplicity=='one' && (!field.source || field.source.length == 0)" class="form-group" show-errors="{showSuccess: true}">
				<label>{{field.display_name}}</label>
				
				<input ng-model = "data[field.name]" name = "{{path + '@' + field.name}}" name1 = "scope.path + '@' + scope.field.name" class="form-control" type = "text" placeholder="{{field.description}}"/>
				<p ng-repeat="item in field.validation_rules track by $index" class="help-block" ng-if="form[path + '@' + field.name].$error[getErrorFlag(item)]">
					{{getErrorMessage(item, data, field.name)}}, 
				</p>
			</div>
			
		</div>
		<!--large_string-->
		<div class="animate-switch" ng-switch-when="9224d81c-e9a3-4260-8d7e-4f418d8ddaf3">
			<div class="form-group">
				<label>{{field.display_name}}</label>
				<textarea rows="5" ng-model = "data[field.name]" class="form-control" placeholder="{{field.description}}"/>
			</div>
		</div>
		<!--integer-->
		<div class="animate-switch" ng-switch-when="42cbbb31-2bc3-42d4-a695-786920141a5f">
			<div ng-if="field.data_type.multiplicity=='one' && field.source && field.source.length > 0" class="form-group">
				<label>{{field.display_name}}</label>
				<select class="form-control" ng-model="data[field.name]" ng-options="item.key as item.display_name for item in field.source"></select>
			</div>
			<div ng-if="field.data_type.multiplicity=='one' && (!field.source || field.source.length == 0)" class="form-group">
				<label>{{field.display_name}}</label>
				<input ng-model = "data[field.name]" class="form-control" type = "number" placeholder="{{field.description}}"/>
			</div>
		</div>
		<!--boolean-->
		<div class="animate-switch" ng-switch-when="9498606b-28ad-4c6b-a73e-1b009e2ab734">
			<div class="form-group">
				<label>{{field.display_name}}</label>
				<span class="btn-group pull-right">
					<button class="btn btn-primary btn-sm" ng-model="data[field.name]" uib-btn-radio="true">Yes</button>
					<button class="btn btn-primary btn-sm" ng-model="data[field.name]" uib-btn-radio="false">No</button>
				</span>
			</div>
		</div>
		<div class="animate-switch" ng-switch-default>
			<div ng-if="field.data_type.association_type == 'embed'">
				<p ng-if="field.data_type.multiplicity == 'many'">
					<label>{{field.display_name}}</label> &nbsp;
				</p>
				<p ng-if="!data[field.name] || (field.data_type.multiplicity == 'many' && data[field.name].length == 0)">
					No {{field.display_name}} found.
				</p>
				<div ng-if="data[field.name]">
					<uib-accordion close-others="true">
						<div uib-accordion-group ng-if="field.data_type.multiplicity == 'many'" ng-repeat="item in data[field.name] track by $index" ng-init="status = {isOpen: false}" is-open="status.isOpen" ng-class="{true:'panel-primary', false:'panel-default'}[status.isOpen]">
							<uib-accordion-heading>
								<button class="btn btn-danger btn-xs pull-right" ng-click="remove(field.name, $index, $event)" ng-show="!status.isOpen">
									<i class="fa fa-trash-o"></i>
								</button>
								<button class="btn btn-primary btn-xs pull-right" ng-click="moveUp(field.name, $index, $event)" ng-show="!status.isOpen && !$first">
									<i class="fa fa-long-arrow-up"></i>
								</button>
								<button class="btn btn-primary btn-xs pull-right" ng-click="moveDown(field.name, $index, $event)" ng-show="!status.isOpen && !$last">
									<i class="fa fa-long-arrow-down"></i>
								</button>
								{{item.display_name ? item.display_name : field.display_name  + ' ' + ($index + 1)}}
							</uib-accordion-heading>
							<form-fields objecttypename="field.data_type.object_type" dataitem="item" path="path + '@' + field.name + '@' + $index" form="form" submitted="submitted"></form-fields>
						</div>
						<div uib-accordion-group ng-if="field.data_type.multiplicity == 'one' && (field.data_type.association_type == undefined || field.data_type.association_type == 'embed')" ng-init="status = {isOpen: false}" is-open="status.isOpen" ng-class="{true:'panel-primary', false:'panel-default'}[status.isOpen]">
							<uib-accordion-heading>
								<button class="btn btn-danger btn-xs pull-right" ng-click="clear(field.name, $event)" ng-show="!field.required && !status.isOpen">
									<i class="fa fa-trash-o"></i>
								</button>
								{{field.display_name}}
							</uib-accordion-heading>
							<form-fields objecttypename="field.data_type.object_type" dataitem="data[field.name]" path="path + '@' + field.name" form="form" submitted="submitted"></form-fields>
						</div>
					</uib-accordion>
				</div>
				<div ng-if="field.data_type.multiplicity == 'many' || (field.data_type.multiplicity == 'one' && !data[field.name])">
					<p>
						<button class="btn" ng-click="addNew(field.name, field.data_type.object_type, field.data_type.multiplicity)">Add {{field.display_name}}</button>
					</p>
				</div>
			</div>
			
			<div ng-if="field.data_type.association_type == 'link'">
				<p>
					<label>{{field.display_name}}</label> &nbsp;
				</p>
				<p ng-if="data[field.name] == undefined || (field.data_type.multiplicity == 'many' && data[field.name].length == 0)">
					No {{field.display_name}} found.
				</p>
				<div ng-if="data[field.name] != undefined">
					<div ng-if="field.data_type.multiplicity == 'one'" class="form-group">
						<link-field objecttypename="field.data_type.object_type" dataitem="data" fieldname="field.name" index="-1"></link-field>
					</div>
					<div ng-if="field.data_type.multiplicity == 'many'" class="input-group" ng-repeat="item in data[field.name] track by $index">
						<link-field objecttypename="field.data_type.object_type" dataitem="data" fieldname="field.name" index="$index"></link-field>
						
						<span class="input-group-btn">
							<button class="btn btn-danger" ng-click="remove(field.name, $index, $event)" ng-show="!status.isOpen">
								<i class="fa fa-trash-o"></i>
							</button>
						</span>
						
						</br>
					</div>
				</div>
				<div ng-if="field.data_type.multiplicity == 'many' || (field.data_type.multiplicity == 'one' && data[field.name] == undefined)">
					<p>
						<button class="btn" ng-click="addNewObjectLink(field.name, field.data_type.multiplicity)">Add {{field.display_name}}</button>
					</p>
				</div>
			</div>
			<div ng-if="field.data_type.association_type == 'delegate'">
				<p>
					<label>{{field.display_name}}</label> &nbsp;
				</p>
				<p ng-if="data[field.name] == undefined">
					No {{field.display_name}} found.
				</p>
				<div ng-if="data[field.name] != undefined">
					<div ng-if="field.data_type.multiplicity == 'one'" class="form-group">
						<delegate-field objecttypename="field.data_type.object_type" dataitem="data" fieldname="field.name" index="-1" path="path + '@' + field.name" form="form" submitted="submitted"></delegate-field>
					</div>
				</div>
				<div ng-if="field.data_type.multiplicity == 'one' && data[field.name] == undefined">
					<p>
						<button class="btn" ng-click="addNewObjectLink(field.name, field.data_type.multiplicity)">Add {{field.display_name}}</button>
					</p>
				</div>
			</div>
			
		</div>
		
	<div>